
/* by element name */
body {
    background-image: url("images/bg.jpeg");
    z-index: 0;
}

h1 {
    align-self: center;
}

h1, h2, h3, h4, p, div, span {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: xx-small;
}
/*  by class name  */
.input-text {
    display: inline-block;
    width: 80%;
    font-size: medium;
}

.submit {
    display: inline-block;
    width: 200px;
    font-size: medium;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.small {
    font-size: x-small;
}

.hidden {
    display: none
}

.right-data {
    float: right;
}

.left-data {
    float: left;
}

.center-data {
    align-content: center;
    text-align: center;
}

.header {
    padding: 10px;
    color: black;
    font-size: 20px;
}

.player-title {
    position: absolute;
    background-color: black;
    padding: 1%;
    font-size: medium;
    color: white;
    top: 0%;
    left: 40%;
}

.game-selection-icons {
    margin-left: 20%;
    background-color: #4C4C4C;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 200px;
    margin: auto;
}

.home-container {
    border: solid 1px #4C4C4C;
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    background-color: white ;
}

.form-container {
    display: block;
    width: 100%;
    margin: auto;
}
/* by id name */
#welcome-title {
    display: block;
    background-image: url('images/Title.png');
    height: 100px;
    width: auto;
    margin-top: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#whack-image {
    /* margin-top: 25px;
    margin-left: 30px; */
    margin: 3%;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-image: url('images/whack/Icon.png');
    background-size: cover;
}

#whack-image:hover {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#memory-image {
    /* margin-top: 25px;
    margin-left: 30px; */
    margin: 3%;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-image: url('images/memory/Icon.png');
    background-size: cover;
}

#memory-image:hover {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#space-image {
    /* margin-top: 25px;
    margin-left: 30px; */
    margin: 3%;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-image: url('images/space/space_icon.png');
    background-size: cover;
}

#space-image:hover {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#frogger-image {
    /* margin-top: 25px;
    margin-left: 30px; */
    margin: 3%;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-image: url('images/frogger/frogger_icon.png');
    background-size: cover;
}
#frogger-image:hover {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

#score-title {
    margin-top: 10px;
    float: right;
    text-align: right;
    font-size: medium;
    padding-right: 10px;
}

#score-table {
    font-size: xx-small;
}

#current-time {
    font-size: xx-small;
}

#instructions {
    display: none;
}

#create-player-form {
    width: 50%;
    margin: auto;
    padding: 5%;
}

#enter-name {
    color: rgb(1, 82, 136);
}
#game-hud {
    display: flex;
    align-items: center;
    margin-top: 1%;
    width: 80%;
    padding: 10%;
    background-color: white;
    border: red 3px solid;
}

