/* memory unique game style */
.card {
    height: 60px;
    width: 60px;
}

.flash {
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

#memory-grid {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 360px;
    width: 360px;
}

#memory-border {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    margin: auto;
    background-color: black;
    /* background-image: url('images/memory/border.jpeg'); */
    background-size: cover;
}