/* memory unique game style */
.card {
    height: 60px;
    width: 60px;
}

#memory-grid {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: 360px;
    width: 360px;
}

#memory-border {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    margin: auto;
    background-image: url('images/memory/border.jpeg');
    background-size: cover;
}