/* spaceinvader unique game style */
#space-border {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    margin: auto;
    background-image: url('images/space/spborder.png');
    background-size: cover;
}
#space-grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: #f6e9d3;
}
#space-grid div {
    width: 20px;
    height: 20px;
}

.dead {
    background-image: url('images/space/sp_dead.png');
    background-size: cover;
}
.neutral{
    background-image: url('images/space/neutral.png');
    background-size: cover;
}
.shooter {
    background-image: url('images/space/sp_shooter.png');
    background-size: cover;
}
.invader {
    background-image: url('images/space/sp_invader.png');
    background-size: cover;
}
.boom {
    background-image: url('images/space/sp_boom.png');
    background-size: cover;
}
.laser {
    background-image: url('images/space/sp_laser.png');
    background-size: cover;
}