/* whackamole unique game style */
#whack-border {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    margin: auto;
    background-image: url('images/whack/Whackborder.png');
    background-size: cover;
}

#whack-grid{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    border: solid 2px;
    justify-content: center;
    align-content: center;
    width: 310px;
    height: 360px;
}

.hole {
    width: 45px;
    height: 45px;
    background-image: url('images/whack/hole.png');
    background-size: cover;
}

.moleA{
    background-image: url('images/whack/DiglettA.png');
    background-size: cover;
}

.moleB{
    background-image: url('images/whack/DiglettB.png');
    background-size: cover;
}

.moleC{
    background-image: url('images/whack/DrilburA.png');
    background-size: cover;
}

.moleD{
    background-image: url('images/whack/DrilburB.png');
    background-size: cover;
}

.moleE{
    background-image: url('images/whack/DugtrioA.png');
    background-size: cover;
}

.moleF{
    background-image: url('images/whack/DugtrioB.png');
    background-size: cover;
}

.moleG{
    background-image: url('images/whack/ExcadrillA.png');
    background-size: cover;
}

.moleH{
    background-image: url('images/whack/ExcadrillB.png');
    background-size: cover;
}

.moleI{
    background-image: url('images/whack/GolemA.png');
    background-size: cover;
}

.moleJ{
    background-image: url('images/whack/GolemB.png');
    background-size: cover;
}

.moleK{
    background-image: url('images/whack/SandslashA.png');
    background-size: cover;
}

.moleL{
    background-image: url('images/whack/SandslashB.png');
    background-size: cover;
}

.moleM{
    background-image: url('images/whack/TriA.png');
    background-size: cover;
}

.moleN{
    background-image: url('images/whack/TriB.png');
    background-size: cover;
}

.punch{
    background-image: url('images/whack/punch.png');
    background-size: cover;
}